@model IEnumerable<TicTacToe.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(Model => Model.Id)</th>
            <th scope="col">@Html.DisplayNameFor(Model => Model.Name)</th>
            <th scope="col">@Html.DisplayNameFor(Model => Model.Score)</th>
            <th scope="col">@Html.DisplayNameFor(Model => Model.Password)</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(Modelitem => item.Id)</td>
                <td>@Html.DisplayFor(Modelitem => item.Name)</td>
                <td>@Html.DisplayFor(Modelitem => item.Score)</td>
                <td>@Html.DisplayFor(Modelitem => item.Password)</td>
            </tr>

        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Create New", "Register")
</p>
